<form class="form-inline justify-content-center">
    <div class="input-group mb-2 mr-sm-2">
        <input type="text" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Nombre">
    </div>
    <div class="input-group mb-2 mr-sm-2">
        <input type="text" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Apellido">
    </div>
    <div class="input-group mb-2 mr-sm-2">
        <input type="text" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Fecha Nacimiento">
    </div>
    <div class="input-group mb-2 mr-sm-2">
        <input type="text" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Salario">
    </div>

    <button type="submit" class="btn btn-info mb-2">Crear</button>
</form>